<!--
templateType: none
-->

<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_meta.html_title or pageTitle %}<title>{{ page_meta.html_title or pageTitle }}</title>{% endif %}
    {% if brand_settings.favicon.src %}<link rel="shortcut icon" href="{{ brand_settings.favicon.src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {# CSS must be in the head #}
    {{ require_css(get_asset_url("../../css/output.css")) }}
    {{ require_css(get_asset_url("../css/main.css")) }}
    {{ standard_header_includes }}
  </head>
  <body class="max-w-screen-lg mx-auto">
    <div class="body-wrapper {{ builtin_body_classes }}">
      <main id="main-content" class="max-w-[640px] flex flex-col mx-auto px-4 sm:px-8 pt-12 sm:pt-8 pb-4">
        {% block body %}
        {% endblock body %}
      </main>
    </div>
    {{ require_js(get_asset_url("../../js/main.js")) }}
    {# To see a full list of what is included via standard_footer_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_footer_includes }}
  </body>
</html>